.info {
    position: relative;
    top: 10;
    left: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    font-weight: 400;
    background-color: #EFF;
    border: 1px solid #DEE;
}

@mixin theme-light {
    --body-background: white;
    --body-background-tint: none;
    --body-font-color: black;

    --color-link: #0055bb;
    // --color-visited-link: #5500bb;
    --color-visited-link: #0055bb;

    --icon-filter: none;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-500: #adb5bd;

    @include accent("default", #64748b);
    @include accent("note", #4486dd);
    @include accent("tip", #3bad3b);
    @include accent("important", #8144dd);
    @include accent("warning", #f59e42);
    @include accent("caution", #d84747);

    // Fallback for {{< hint >}} shortcodes
    @include accent("info", #4486dd);
    @include accent("success", #3bad3b);
    @include accent("danger", #d84747);
}